/********** Template CSS **********/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary: #181818;
    --secondary: #F4F4F4;
    --light: #F5F5F5;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Hero ***/



.top-div {
    padding: 20px 20px 20px 0px;
    text-align: right;
}
.hero-section{
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    /* background-image: url("../img/bg.png"); */
    background-image: url("../img/firstbg.png");
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;

  
}

.hero-section2{
    height: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}


.hero-midd-sec{
    text-align: center;
}

/* .hero-section {
    background-image: url('your-background-image-url.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    border-radius: 20px;
  } */
  /* .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 20px;
  } */

  .hero-title {
    padding-top: 80px;
    font-size: 2.5rem;
    font-weight: 500;
    /* padding-bottom: 20px; */
    color: var(--light);
  }
  .hero-description {
    margin: 20px 0;
    font-size: 1.1rem;
    color: var(--light);
    font-weight: 100;
  }
  
  .popular-kits {
    /* margin-top: 20px; */
  }
  .kit-button {
    margin: 0px 5px;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 14px;
  }

  .popular-kit-text{
    font-size: 1rem;
    color: var(--secondary);
    margin-left: 16;
  }

  .search-bar-container {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 40px 0px
  }


.search-bar-containertop{
   visibility: hidden;
}
  
  .search-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
    color: var(--light);
  }
  .search-input::placeholder{
    color: var(--secondary);
  }
  .search-btn {
    background-color: var(--primary); /* Darker hover effect */

    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-btn:hover {
    background-color: rgb(145, 140, 140);

  }
  .search-btn svg {
    margin-left: 5px;
  }



.abot-section{
    background-color: var(--primary);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-new{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--secondary);
    padding: 20px 40px 0px 0px;
}


.about-heading{
    text-align: center;
    color: var(--secondary);
    font-weight: 500;
}
.bout-left{
    display: flex;
    justify-content: end;
}

.about-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary);
  }
  .description-box{
    margin-top: 70px;
    margin-bottom: 40px;
  }


  .about-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
  }

  /* .about-bg {
    background-image: url("../img/about-bg.png");
    background-repeat: no-repeat;
    background-size: 60% 110%;
    background-position: 0% 70%;
} */
 
.about-bg {
    background-image: url("../img/about-bg.png");
    background-repeat: no-repeat;
    background-size: 50% 99%;
    background-position: 0% 40%;
    /* padding-block: 200px; */
}

  .explore-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid #f4f4f4;
    border-radius: 30px;
    background: transparent;
    color: #f4f4f4;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
  }

  .explore-btn:hover {
    background-color: #f4f4f4;
    color: #111;
  }

  .icon {
    display: inline-block;
    transform: rotate(45deg); /* Rotate the arrow icon */
  }


.section-3{
    width: 100%;
}


.feature-section{
    padding-top: 3rem;
}

.feature-top-text{
    color: var(--primary);
    font-weight: 500;
    font-size: 1.3rem;
}

.feature-heading{
    font-size: 2.9rem;
    font-weight: 600;
    color: var(--primary);
}

.feature-container{
    margin-top: 8rem;
}

.feature-item {
    text-align: left;
    padding: 20px;
}

.feature-item  h5{
    font-weight: 600;
    color: var(--primary);
    font-size: 1.5rem;
}


.feature-item  p{
    font-weight: 400;
    font-size: 1.1rem;
    color: #3D3D3D;
    word-spacing: 1px;
    /* letter-spacing: 0px; */
}
.feature-item  svg{
    margin-top: 2rem;
}
/* .section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
} */
.divider {
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title2 p{
    color: var(--primary);
}

.feature-container2{
    margin-block: 150px;
}

/* .white-section {
    height: max-content;
    width: 100%;
    background-image: url("../img/white-bg.png");
    background-position: 20px -90px;
    background-size: 100% 190%;
    background-repeat: no-repeat;
} */




.white-section {
    height: max-content;
    width: 100%;
    background-image: url("../img/Fram.png");
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}


.kit-box{
    margin-left: 100px;
}

.kit-card img {
    border-radius: 10px;
    width: 60%;
    /* max-width: 65%; */
    height: auto;
    margin-bottom: 15px;
}
/* .highlight-line {
    width: 50px;
    height: 3px;
    background-color: #ffc107;
    margin: 0 auto 10px auto;
} */
.kit-description {
    font-weight: 600;
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--primary);
    border-left: 1px solid #FCCD10;
    padding-left: 25px;
    display: inline-block;
}

.slanted-section {
    position: relative;
   padding-top: 200px;
   
}
.slanted-background {
    padding-block: 20px;
/* border: 1px solid #000; */
 background-color: var(--primary);
 overflow: hidden;
 white-space: nowrap;
}

/* .yellow {
    position: absolute;
    right: -8px;
    top: 55px;
    width: 102%;
    background-color: #FCCD10;
    transform: rotate(-3deg);
    overflow: hidden;
    white-space: nowrap;
} */


.yellow {
    position: absolute;
    right: 0px;
    top: 243px;
    width: 100%;
    background-color: #FCCD10;
    transform: rotate(-3deg);
    overflow: hidden;
    white-space: nowrap;
}
 .scrolling-text {
    display: inline-block;
    animation: scroll-left 16s linear infinite;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
} 
.scrolling-text2 {
    display: inline-block;
    animation: scroll-right 14s linear infinite;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
} 


.sec-white-last-box{
    padding: 10px 0px 200px 0px ;
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);

    }
    100% {
        transform: translateX(100%);

    }
}





.custom-shape-divider-top-1730717384 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1730717384 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
    z-index: 1;
}

.custom-shape-divider-top-1730717384 .shape-fill {
    fill: #FFFFFF;
}






.aerokit-section {
    background-color: #000; /* Black background */
    color: #fff; /* White text for better contrast */
    position: relative;
    padding: 50px 0; /* Padding for the content */
    border-bottom-right-radius: 20px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
    

}




.content-container {
    padding-top: 100px;
    position: relative;
  
    z-index: 1; /* To ensure content is above the wave */
    /* text-align: center; */

}
.aerokit-title{
    padding-left: 400px;
}

.aerokit-title p {
    color:#fff; /* Light gray color for the muted text */
    
    font-weight: 500;
    font-size: 1.4rem;
}

.aerokit-title h2 {
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 90px;
}



.see-gallery-btn a:hover {
    background-color: #f0f0f0;
}


.gallary a{
    border: 1px solid #ffffff !important;
    color: var(--secondary) !important;
}


.faq-section {
    background-color: #D9D9D9;
    padding: 50px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #1a1a1a;
    /* border: 5px solid #000; */
    background-image: url("../img/bottam-bg.png");
    background-repeat: no-repeat;
    background-size: 108% 43%;
    background-position: 91% 127%;
}
.scrollsection{
    width: 100%;
    height: 620px;
    overflow-y: scroll;
}

.scrollsection::-webkit-scrollbar{
    display: none;
}

.faq-title {
    text-align: center;
    margin-bottom: 30px;
}
.accordion-body {
    padding-block: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    /* text-align: right; */
    /* padding-left: 470px; */
    /* padding-right: 40px; */
}
.accordion-button {
    background-color: transparent;
    color: #1a1a1a;
    font-weight: 500;
    border: none;
    padding-left: 0;
   padding-block: 1.5rem;
   font-size: 2rem;
}
.accordion-button::after {
    transform: rotate(0deg);
}
.accordion-button.collapsed::after {
    transform: rotate(90deg);
}
.accordion-item {
    border: none;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
}
.faq-number {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 15px;
    /* padding-right: 400px; */
}




.explore-more-btn {
    display: flex;
    justify-content: center;
    margin:150px 0px 50px 0px;
    
}
.explore-more-btn a {
    /* background-color: #fff; */
    color: #1a1a1a;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 15px 35px;
    text-decoration: none;
    font-weight: bold;
}
/* .explore-more-btn a:hover {
    color:var(--secondary);
    background-color: var(--primary);
    
} */
/* .bottom-decor {
    position: relative;
    margin-top: 20px;
} */



.accordion-button:not(.collapsed){
    color: var(--primary);
    box-shadow: none;
    background-color: transparent;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    content: "";
    background-image: url("../img/faq.png");
    background-repeat: no-repeat;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/faq.png");
    transform: rotate(-180deg);
}

.faq-setion{
    padding-block: 100px;

}


.bottom-last-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 100px 0px;
    background-image: url("../img/bootom-bg-image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

}

.bottom-last-section h6{
    font-size: 2rem;
    font-size: 600;
    margin-bottom: 20px;
    color: var(--secondary);

}

.bottom-last-section h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--secondary);

}
 
.bottom-last-section p{
    color: var(--secondary);
    font-weight: 100;
    margin-bottom: 40px;
}

.bottom-last-section span{
    border: 1px solid #fff8f8;
    padding: 7px 25px ;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;

}

.bottom-last-section span:hover{
    background-color: var(--secondary);
    color: var(--primary);
}

.bottomcopyright{
    border-color: var(--primary) !important;
}


@media (max-width: 768px) {
.search-bar-containertop {
   visibility: visible;
   background-color: var(--light);
}
.search-input {
    color: black;
}
.search-input::placeholder{
    color: var(--primary);
  }
   
  .hero-title {
    font-size: 1.5rem;
    padding-bottom: 0px;
}
.hero-description {
    margin: 0px 0px 20px 0px;
    font-size: 0.8rem;
    color: var(--light);
    font-weight: 100;
}
   
    
    .hero-midd-sec {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .serachboxnone{
        display: none;
    }
    .search-bar-container {
        padding: 5px 15px;
        
       
        margin: 35px  0px;
    }
    
    .kit-button {
        margin: 0px 5px;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 12px;
    }
    .search-input {
      
        font-size: 12px;
       
    }
    .popular-kits{
        padding-inline:30px;
        margin-bottom: 30px;
    }
    .search-btn {
      
        font-size: 12px; 
    }
    
    .popular-kit-text {
        font-size: 14px;
    }
    .top-div svg{
        width: 29px;
    }
    .top-div {
        padding-right: 15px;
        padding-block: 17px;
    }


    .about-bg {
        background-size: 93% 74%;
        background-position: 0% 40%;
    }

    .about-left svg{
        width: 200px;
    }

    .feature-heading {
        font-size: 2rem;
    }
    .faq-setion {
        padding-block: 33px;
    }
    .accordion-body {
        padding-block: 1rem;
        font-size: 0.9rem;
        font-weight: 400;
    
    }
    .faq-number {
        font-size: 1.2rem;
    }
    .accordion-button {
       font-size: 1.2rem;
    }
    .accordion-button::after {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: auto;
        content: "";
        background-image: url("../img/faq.png");
        background-repeat: no-repeat;
    }
    .explore-more-btn {
        margin: 59px 0px 50px 0px;
    }
}


@media (max-width: 500px) {




    .kit-button {
        margin: 6px 1px;
        border-radius: 20px;
        padding: 5px 17px;
        font-size: 12px;
    }

    .hero-title {
        font-size: 25px;
    }
    
    .search-bar-container {
        padding: 5px 15px;
        margin: 20px  20px;
    }
    
    .hero-description {
    margin: 12px 0;
        font-size: 10px;
    }
  
    .popular-kit-text {
        font-size: 16px;
    }
    
    .search-input {
        font-size: 10px;
    }
    .search-btn {
        font-size: 10px;
    }

    .abot-section{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .about-title {
        font-size: 1.6rem;
    }
    .about-left svg {
        width: 110px;
    }
    .about-description {
        font-size: 10px;
  
    }
    .about-bg {
        background-size: 93% 48%;
        background-position: 0% 40%;
    }
    .about-heading {
 
        font-size: 18px;
    }

    .explore-btn {

        gap: 10px;
        padding: 7px 11px;
        font-size: 12px;
        margin-bottom: 25px;
    }
    .bout-left svg{
        height: 100px;
    }
    .about-new {
        font-size: 17px;
        padding: 20px 0px 0px 0px;
    }
    .description-box {
        margin-top: 32px;
        margin-bottom: 23px;
    }

    .faq-section {
        background-size: 115% 39%;
        background-position: 91% 127%;
        /* padding: 50px px; */
    }
    .accordion-button {
        font-size: 1rem;
        padding-block: 4px;

     }
     .accordion-body {
        padding-block: 0px;
        font-size: 0.7rem;
    }
    .explore-more-btn a {
 font-size: 14px;
        padding: 11px 26px;
    }
    .feature-heading {
        font-size: 1.3rem;
    }

    .scrollsection {
        height: 376px;
    }
    .bottom-last-section h4 {
        font-size: 1.5rem;
     
    }
    .bottom-last-section h6 {
        font-size: 1.5rem;

    }
    .bottom-last-section p {
        font-size: 11px;
        margin-bottom: 37px;
    }
    .bottom-last-section span {
        font-size: 9px;
        border: 1px solid #fff8f8;
        padding: 5px 15px;
        border-radius: 50px;
        transition: all 0.5s;
        cursor: pointer;
    }
    .bottom-last-section {

        padding: 50px  0px;
    
    }

    .sec-white-last-box {
        padding: 10px 0px 136px 0px;
    }
    .feature-container2 {
        margin: 50px 0px 20px 0px ;
    }
   
    .section-title2 p {
        font-size: 12px;
    }
    .feature-top-text{
        font-size: 15px !important;
    }
    .feature-item  h5 {
        font-size: 1.2rem;
    }
    .feature-item  p {
        font-size: 12px;
    }
    .feature-section svg{
        width: 60px !important;
    }
    .feature-item svg {
        margin-top: 0rem;
    }
    .feature-item1{
        padding: 0px;
    }
    .faq-section .col-8 {
        padding: 0px;
    }
    .feature-container {
        margin-top: 2rem;
    }
    .slanted-background {
        padding-block: 0px;
        padding-top: 20px;
    }
    .scrolling-text{
        font-size: 1rem !important;
    }
    .scrolling-text2 {
        font-size: 1rem !important;

    }
  
    .yellow {
        position: absolute;
        right: 0px;
        top: 31px;
        width: 112%;
        background-color: #FCCD10;
        transform: rotate(-6deg);
        overflow: hidden;
        white-space: nowrap;
    }
    .kit-description{
        font-size: 6px;
        margin-top: 0px;
        padding-left: 10px;
    }
    .kit-card img{
        width: 100%;
    }
    .kit-box {
        margin-left: 0px;
    }
    .slanted-section{
        padding-top: 0px;
    }
    .white-section {
        background-size: 100% 102%;
    }
}



